*{
    padding: 0;
    margin: 0;
}
/* .box{
    border: 1px solid rgb(31, 31, 62);
    height: 93px;
    width: 93px;
    border-radius: 50%;
    text-align: center;
    justify-items: center;
    align-self: center;
    top: 43px;
} */
.logo{
    display: flex;
    float: right;
}